<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.maoxian.gateway.mapper.PermMapper">
    <resultMap id="permResult" type="perm">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="perm" property="perm"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>
    <select id="selectByUserId" resultType="String">
        select distinct p.perm
        from user_role ur
                 left join role r on ur.role_id = r.id
                 left join role_perm rp on ur.role_id = rp.role_id
                 left join perm p on p.id = rp.perm_id
        where ur.user_id = #{userId}
    </select>
    <insert id="insert" parameterType="Perm">
        insert into perm (name, perm) value (#{name}, #{perm})
    </insert>
    <update id="update" parameterType="Perm">
        update perm
        set name=#{name},
            perm=#{perm}
        where id = #{id}
    </update>
    <delete id="deleteById">
        delete
        from perm
        where id = #{id}
    </delete>
</mapper>