<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.maoxian.gateway.mapper.UserMapper">
    <select id="selectList" resultType="User">
        select id, username, password, email, status
        from user
        <where>
            <if test="username != null and username != ''">
                username like #{username}
            </if>
            <if test="email != null and email != ''">
                and email like #{email}
            </if>
        </where>
        limit #{start}, #{pageSize}
    </select>
    <select id="selectById" resultType="User">
        select id, username, password, email, status
        from user
        where id = #{id}
    </select>
    <select id="selectByUsername" parameterType="String" resultType="User">
        select id, username, password, email, status
        from user
        where username = #{name}
    </select>
    <select id="count" resultType="Integer">
        select count(id)
        from user
        <where>
            <if test="username != null and username != ''">
                username like #{username}
            </if>
            <if test="email != null and email != ''">
                and email like #{email}
            </if>
        </where>
    </select>
    <select id="selectByEmail" resultType="User">
        select id, username, password, email, status
        from user
        where email = #{email}
    </select>
    <insert id="insert" parameterType="User">
        insert into user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="username != null">username,</if>
            <if test="password != null">password,</if>
            <if test="email != null">email,</if>
            <if test="status != null">status</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="username != null">#{username},</if>
            <if test="password != null">#{password},</if>
            <if test="email != null">#{email},</if>
            <if test="status != null">#{status}</if>
        </trim>
    </insert>
    <update id="update" parameterType="User">
        update user
        <set>
            <if test="username != null">username = #{username},</if>
            <if test="password != null">password = #{password},</if>
            <if test="email != null">email = #{email}</if>
            <if test="status != null">status = #{status}</if>
        </set>
        where id = #{id}
    </update>
    <delete id="deleteById">
        delete from user where id = #{id}
    </delete>
</mapper>