<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="email code">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        html, body {
            margin: 0;
            height: 100%;
        }
    </style>
</head>
<body>
    <div style="background-color:#ECECEC; padding: 35px;">
        <table
                style="width: 800px;height: 100%; margin: 0 auto; text-align: left; position: relative; border-radius: 5px;font-size: 14px; font-family:微软雅黑, 黑体,serif; line-height: 1.5; box-shadow: rgb(153, 153, 153) 0 0 5px; border-collapse: collapse; background: #fff initial initial initial initial;">
            <tbody>
            <tr>
                <th
                        style="height: 25px; line-height: 25px; padding: 15px 35px; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: RGB(148,0,211); background-color: RGB(148,0,211); border-radius: 5px 5px 0 0;">
                    <span style="color: rgb(255, 255, 255);  font-family: 微软雅黑,serif; font-size: large; ">waf池管理系统-邮箱激活</span>
                </th>
            </tr>
            <tr>
                <td style="word-break:break-all">
                    <div style="padding:25px 35px 40px; background-color:#fff;opacity:0.8;">

                        <h2 style="margin: 5px 0; ">
                            <span style="line-height: 20px;  color: #333333; ">
                                <span style="line-height: 22px;  font-size: medium; ">
                                    尊敬的用户：</span>
                            </span>
                        </h2>
                        <p>您好！感谢您使用waf池管理系统，您的账号正在进行邮箱激活，点击此链接进行激活：
                            <a style="color: #ff8c00;"
                               th:href="'http://localhost:8080/email/activate/'+${email}+'/'+${key}">点我激活</a></h2>
                        </p><br>

                        <div style="width:100%;margin:0 auto;">
                            <div style="padding:10px 10px 0;border-top:1px solid #ccc;color:#747474;margin-bottom:20px;line-height:1.3em;font-size:12px;text-align:right">
                                <p>──Lin</p>
                                <br>
                                <p>此为系统邮件，请勿回复<br>
                                    Please do not reply to this system email
                                </p>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</body>
</html>


