<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.maoxian.mapper.RequestDetailMapper">
    <select id="selectList" resultType="RequestDetail">
        select id, time, status, waf_id, request_id
        from request_detail
        where request_id = #{requestId}
    </select>
</mapper>