<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.maoxian.mapper.UserMapper">
    <select id="queryUserList" resultType="User">
        select id, username, password, email, status
        from user
        limit #{start}, #{pageSize}
    </select>
    <select id="queryUserById" resultType="User">
        select id, username, password, email, status
        from user
        where id = #{id}
    </select>
    <select id="queryUserByUsername" parameterType="String" resultType="User">
        select id, username, password, email, status
        from user
        where username = #{name}
    </select>
    <select id="selectForCount" resultType="Integer">
        select count(*)
        from user
    </select>
    <select id="queryUserByEmail" resultType="User">
        select id, username, password, email, status
        from user
        where email = #{email}
    </select>
    <insert id="addUser" parameterType="User">
        insert into user (username, password, email) value (#{username}, #{password}, #{email})
    </insert>
    <update id="updateUser" parameterType="User">
        update user
        set username = #{username},
            password = #{password},
            email    = #{email}
        where id = #{id}
    </update>
    <delete id="deleteUser">
        delete from user where id = #{id}
    </delete>
</mapper>