<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.maoxian.mapper.WafMapper">
    <update id="update">
        update waf
        set name        = #{name},
            ip          = #{ip},
            port        = #{port},
            config_url  = #{configUrl},
            enable      = #{enable},
            status      = #{status},
            cpu         = #{cpu},
            memory      = #{memory},
            start_time  = #{startTime},
            up_time     = #{upTime},
            description = #{description}
        where id = #{id}
    </update>
    <delete id="deleteById">
        delete
        from waf
        where id = #{id}
    </delete>
    <insert id="insert">
        insert into waf (name, ip, port, config_url, enable, status, cpu, memory, start_time, up_time,
                         description)
            value (#{name}, #{ip}, #{port}, #{configUrl}, #{enable}, #{status}, #{cpu}, #{memory}, #{startTime},
                   #{upTime},
                   #{description})
    </insert>
    <select id="selectById" resultType="Waf">
        select id, name, ip, port, config_url, enable, status, cpu, memory, start_time, up_time, description
        from waf
        where id = #{id}
    </select>
    <select id="selectList" resultType="Waf">
        select id, name, ip, port, config_url, enable, status, cpu, memory, start_time, up_time, description
        from waf
        <where>
            <if test="name != null and name != ''">
                name like concat('%', #{name}, '%')
            </if>
            <if test="ip != null and ip != ''">
                and ip like concat('%', #{ip}, '%')
            </if>
        </where>
        limit #{start}, #{pageSize}
    </select>
    <select id="count" resultType="Integer">
        select count(id)
        from waf
        <where>
            <if test="name != null and name != ''">
                name like concat('%', #{name}, '%')
            </if>
            <if test="ip != null and ip != ''">
                and ip like concat('%', #{ip}, '%')
            </if>
        </where>
    </select>
</mapper>